.Footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    margin-top: 75px;
    background-color: rgb(14, 90, 14);
    color: white;
    font-size: 1em; 
}

.Footer .CopyRight {
    margin-left: 10px;
    justify-content: flex-start;
    padding: 10px;
}

.Social a {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 35px;
}

.Footer .Logo img {
    justify-content: flex-end;
    margin-right: 10px;
    width: 35px;
    height: auto;
    border-radius: 50%;
}
