.HeroImg{
    width: auto;
}
.MobileHeader {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.HeaderPA {
    text-align: center;
    padding: 3rem;
}

.AboutUs {
    background: #cccccc; 
    margin: 0 5vw 5vw 5vw;
    padding: 12vw;

}

.Animals-Served .Animal-Title {
    margin: 5vh 0 5vh 0;
    background-color: rgb(14, 90, 14);
    color: rgb(224, 222, 222);
    padding: 7vw;
    text-align: center;
}
  

.Animals {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;
    align-content: stretch;
    padding: 7vw;
    margin: 3vw;
}

.Animals h3 {
    margin: 0 0 13vw 0;
    text-align: center;
    align-self: center;
}


.Animals .AnImg {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 3px 3px darkgray;
}



/* @media (max-width:1200px) and (min-width:500px){ */
@media (max-width:1000px) and (min-width:500px){

    .HeaderPA{
        display: none;
    }

    .MobileHeader{
        display: none;
    }
    
    .AboutUs{
        text-align: center;
        margin-top: 10vh;
        padding: 10vw;
    }

    .Animals-Served .Animal-Title {
        padding: 5vh;
        font-size: 1.7em;
    }

    .Animals {
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-evenly;
        align-content: stretch;
        margin: 5vw;
        padding: 0 15vw 0 15vw;
        font-size: 1.5em;
    }   

}

/* @media (min-width:1200px) { */
@media (min-width:1000px) {

    .HeaderPA{
        display: none;
    }

    .MobileHeader{
        display: none;
    }

    .AboutUs{
        text-align: center;
        margin-top: 10vh;
        padding: 5vw;
    }

    .Animals-Served .Animal-Title {
        padding: 5vh;
    }

    .Animals {
        font-size: 1.5em;
            padding-top: 5vw;
            padding-bottom: 0;
            margin-bottom: 0;
        
    }

    .Animals .AnImg {
        width: 22vw;
        margin-left:2vw;
        margin-right: 2vw;

    }
}
