.Products {
    text-align: center;
}

.ProductsHeader{
    padding-top: 5vw;
}

.Filter {
    margin: 3vw;
}

.FilterHeader{
    padding-top: 1.5vw;
}

.SpeciesFBtn {
    margin: 2vw;
    padding: 1.8vw;
    width: 15vw;
    border-radius: 35px;
    border: none;
    background: lightgray;
}

.PriceFBtn {
    /* margin: 2vw; */
    margin: 2vw;
    padding: 0;
    border-radius: 35px;
    border: none;
    background: lightgray;
    width: 15vw;
    height: 15vw;
}

@media (min-width: 500px){
    .SpeciesFBtn{
        border-radius: 5px;
        cursor: pointer;
    }

    .SpeciesFBtn:hover:not(.active) {
        background-color: rgb(85, 182, 106);
        color: black;
        font-weight: bold;
    }

    .PriceFBtn{
        border-radius: 5px;
        cursor: pointer;
        width: 12vw;
        height: 12vw;
    }

    .PriceFBtn:hover:not(.active) {
        background-color: rgb(85, 182, 106);
        color: black;
        font-weight: bold;
    }


}