.Products {
    text-align: center;
}

.ProductsHeader{
    padding-top: 5vw;
}

.SpeciesFilter {
    margin: 5vw;
}

.SpeciesFHeader{
    padding-top: 1.5vw;
}

.SpeciesFBtn {
    margin: 2vw;
    padding: 1.8vw;
    width: 15vw;
    border-radius: 35px;
    border: none;
    background: lightgray;
}

@media (min-width: 500px){
    .SpeciesFBtn{
        border-radius: 5px;
        cursor: pointer;
    }

    .SpeciesFBtn:hover:not(.active) {
        background-color: rgb(85, 182, 106);
        color: black;
        font-weight: bold;
    }
}